<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>AppCentre</id><name>应用中心</name><url>http://www.zblogcn.com/</url><note>Z-Blog资源大本营</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email>zxasd@rainbowsoft.org</email><url>http://www.zblogcn.com/</url></author><adapted>121221</adapted><version>2.5</version><pubdate>2012-8-25</pubdate><modified>2015-2-11</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
