<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin for="2.0.0">
<id>AppCentre</id>
<name>应用中心</name>
<url>http://www.rainbowsoft.org/</url>
<note>Z-Blog资源大本营</note>
<type>inline</type>
<path>main.asp</path>
<include>include.asp</include>
<level>1</level>
<author>
		<name>Z-blog</name>
		<url>http://www.rainbowsoft.org/</url>
		<email></email>
		<type>原创</type>
</author>
<author>
		<name>haphic</name>
		<url>http://www.rainbowsoft.org/</url>
		<email></email>
		<type>程序&amp;UI</type>
</author>
<price>0</price>
<created>2012-8-25</created>
<updated>2012-8-25</updated>
<version>1.0</version>
<source>http://sourceurl</source>
</plugin>