<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
<id>PingTool</id>
<name>Ping中心</name>
<note>自动Ping各大博客搜索引擎</note>
<type>inline</type>
<include>include.asp</include>
<path>tool.asp</path>
<level>1</level>
<author>
	<name>zx.asd</name>
	<url>http://www.rainbowsoft.org/</url>
	<email>rainbowsoft@163.com</email>
</author>
<version>1.5</version>
<adapted>Z-Blog 2.0</adapted>
<pubdate>2006-8-7</pubdate>
<modified>2012-8-10</modified>
</plugin>