		<div class="post cate<#article/category/id#> auth<#article/author/id#>" id="post-<#article/id#>">
		<h2><a href="<#article/url#>" rel="bookmark" title="<#article/title#>"><#article/title#></a></h2>
		
		<div class="post-meta"><div class="post-info hfl"><#article/posttime/longdate#>,<#article/posttime/shorttime#> - By <a href="<#article/author/url#>" title="由 <#article/author/name#> 发布" rel="author"><#article/author/name#></a></div>
		<div class="post-comments hfr">
	<a href="<#article/url#>#comments" title="《<#article/title#>》上的评论"><span class="large" id="weihan_comments<#article/id#>"><#article/commnums#></span> 条评论</a>
		</div>
		</div>
		
		<div class="entry hcf">
		<#article/intro#>
		</div>
		
		<div class="iris nova">
		<div class="fav hfr"></div><span class="post-tags">标签: <#template:article_tag#></span>
		</div>
	</div>