<div class="post cate<#article/category/id#> auth<#article/author/id#>">
      <div class="post_time">
        <div class="post_test">
        <span class="post_time_body"><#article/posttime/year#>-<#article/posttime/month#>-<#article/posttime/day#></span>
        </div>
      </div>
      <div class="post_r">
        <div class="post_body">
          <h2><a href="<#article/url#>" title="<#article/title#>"><#article/title#></a></h2>
          <#article/intro#>
          <div class="post_info">
            <#ZC_MSG011#>:<#article/author/name#> | <#ZC_MSG012#>:<#article/category/name#> | <#ZC_MSG013#>:<#article/commnums#> | <#ZC_MSG014#>:<#article/trackbacknums#> | <#ZC_MSG130#>:<span id="spn<#article/id#>"></span>
		<script type="text/javascript">LoadViewCount(<#article/id#>)</script>
          </div>
        </div>
      </div>
     <div class="clear"></div>
    </div>
    