<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>AdvancedConfig</id><name>高级配置</name><url>http://www.zsxsoft.com</url><note>http://www.zsxsoft.com</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>Z-Blog 2.0</adapted><version>1.0</version><pubdate>2012-10-13</pubdate><modified>2012-10-15</modified><description></description><price>0</price></plugin>
