<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>CustomMeta</id><name>CustomMeta自定义数据字段</name><url>http://www.rainbowsoft.org/</url><note>为文章,分类等添加自定义数据字段</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email>rainbowsoft@163.com</email><url>http://www.zdevo.com/</url></author><adapted>121125</adapted><version>1.11</version><pubdate>2012-8-16</pubdate><modified>2012-11-23</modified><description></description><price></price></plugin>
