<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>AdvancedFunction</id><name>增强侧栏</name><url>http://www.zsxsoft.com</url><note>加几个新侧栏上去</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>Z-Blog 2.0</adapted><version>1.01</version><pubdate>2012-10-17</pubdate><modified>2012-11-15</modified><description><![CDATA[为Z-Blog添加新侧栏]]></description><price>0</price></plugin>
