<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <rewrite>
   <rules>
     <rule name="Imported Rule Default+Page" stopProcessing="true">
      <match url="^default_([0-9]+)\.html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?page={R:1}" />
     </rule>
     <rule name="Imported Rule Category+Page" stopProcessing="true">
      <match url="^category-([0-9]+)_([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?cate={R:1}&amp;page={R:2}" />
     </rule>
     <rule name="Imported Rule Category" stopProcessing="true">
      <match url="^category-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?cate={R:1}" />
     </rule>
     <rule name="Imported Rule Author+Page" stopProcessing="true">
      <match url="^author-([0-9]+)_([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?auth={R:1}&amp;page={R:2}" />
     </rule>
     <rule name="Imported Rule Author" stopProcessing="true">
      <match url="^author-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?auth={R:1}" />
     </rule>
     <rule name="Imported Rule Tags+Page" stopProcessing="true">
      <match url="^tags-([0-9]+)_([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?tags={R:1}&amp;page={R:2}" />
     </rule>
     <rule name="Imported Rule Tags" stopProcessing="true">
      <match url="^tags-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?tags={R:1}" />
     </rule>
     <rule name="Imported Rule Date+Page" stopProcessing="true">
      <match url="^date-([0-9\-]+)_([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?date={R:1}&amp;page={R:2}" />
     </rule>
     <rule name="Imported Rule Date" stopProcessing="true">
      <match url="^date-([0-9\-]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="catalog.asp?date={R:1}" />
     </rule>
     <rule name="Imported Rule Article" stopProcessing="true">
      <match url="^post/(?!zb_)(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="view.asp?id={R:1}" />
     </rule>
     <rule name="Imported Rule Page" stopProcessing="true">
      <match url="^(?!zb_)(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="view.asp?id={R:1}" />
     </rule>
   </rules>
  </rewrite>
 </system.webServer>
</configuration>
