<div class="post cate<#article/category/id#> auth<#article/author/id#>" id="post-<#article/id#>">
	<h2><a href="<#article/url#>" rel="bookmark" title="<#article/title#>"><#article/title#></a></h2>
	<div class="post-meta">
		<div class="post-info hfl">
			<#article/posttime/longdate#>,<#article/posttime/shorttime#> - By <a href="<#article/author/url#>" title="由 <#article/author/name#> 发布" rel="author"><#article/author/name#></a> - <span id="spn<#article/id#>"></span> 次浏览<script type="text/javascript">AddViewCount(<#article/id#>)</script>
		</div>
		<div class="post-comments hfr">
			<a href="<#article/url#>#comments" title="《<#article/title#>》上的评论"><span class="large"><#article/commnums#></span> 条评论</a>		
		</div>
	</div>
	<div class="entry hcf" id="entry">
		<#article/content#>
	</div>	

	<div class="iris nova">
		<div class="post-tags">标签: <#template:article_tag#></div>
		<div class="post-tags"><a href="<#ZC_BLOG_HOST#>" title="<#ZC_BLOG_TITLE#> 博客首页">首页</a> &raquo; <a href="<#article/category/url#>" title="查看 <#article/category/name#> 中的全部文章" rel="category tag"><#article/category/name#></a> &raquo; <#article/title#></div>
	</div>

	<div id="comments">
		<h4 class="comments-title"><#article/commnums#> 条评论</h4>
		<ul id="commentlist" class="comment-list">
			<#template:article_comment#>
		</ul>	
		<#template:article_comment_pagebar#>
		<#template:article_commentpost#>
	</div>
</div>