<ul class="msg">
<li class="comment even thread-even depth-1 hpr" id="comment-<#article/comment/id#>">
	<div id="div-comment-<#article/comment/id#>" class="comment-content">
		<div class="comment-author vcard">
		<div class="visitor gravatar hpa hfl">
			<img alt='' src='http://0.gravatar.com/avatar/<#article/comment/emailmd5#>?s=36&amp;d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2F48837deade4cdf6696ac477c3b40e11f%3Fs%3D36&amp;r=G' class='avatar avatar-36 photo' height='36' width='36' />
		</div>
		<small class="comment-meta hfr"><a name="cmt<#article/comment/id#>" ><#article/comment/posttime#></a></small>
		<span class="comment-author-name"><a  target="_blank" href='<#article/comment/urlencoder#>' rel="external nofollow"><#article/comment/name#></a></span>
		</div>
		<p><#article/comment/content#></p> 
		<a class='comment-reply-link' href='#respond' onclick="RevertComment('<#article/comment/id#>')">回复</a>
	</div>
</li> 
</ul>