<!--footer -->
	<div id="footer" class="hcf">
		<div class="footer-bg hpa"></div>
		<div class="footer-credits">
			<span class="footer-fuss">Theme by </span><a href="http://livesino.net/theme-codename-h" style="color:#FF0000;" target="_blank">Codename H</a>
			<span class="footer-fuss">Powered by </span><a href="http://www.rainbowsoft.org/" style="color:#81BF34;" target="_blank">Z-Blog</a>
			<span class="footer-fuss">Migrate by </span><a href="http://imzhou.com" style="color:#5386E1;" target="_blank">未寒</a>
			<br/>
		</div>
		<#ZC_BLOG_COPYRIGHT#>
	</div>
</div>
<#TEMPLATE_INCLUDE_FEED#>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="<#ZC_BLOG_HOST#>zb_users/theme/<#ZC_BLOG_THEME#>/script/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="<#ZC_BLOG_HOST#>zb_users/theme/<#ZC_BLOG_THEME#>/script/colorbox/colorbox.js"></script>
<script type="text/javascript" src="<#ZC_BLOG_HOST#>zb_users/theme/<#ZC_BLOG_THEME#>/script/app.js"></script>
</body>
</html>