<div class="msg">
            <div class="msgtxt">
              <div class="msgtxtbogy">
              <div class="msgname"><a href="<#article/comment/urlencoder#>" rel="nofollow" target="_blank"><#article/comment/count#>.<#article/comment/name#></a>&nbsp;&nbsp;<span><#article/comment/posttime#>&nbsp;<a href="#comment" onclick="RevertComment('<#article/comment/id#>')"><#ZC_MSG265#></a></span></div>
              <div class="msgarticle"><#article/comment/content#></div>
            </div>
          </div>
          <div class="msgimg"><a name="cmt<#article/comment/id#>"><img class="avatar" src="<#article/comment/avatar#>" alt=""/></a></div>
          <div class="clear"></div>
          </div>
          