<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>SweetTitles</id><name>SweetTitles for Z-Blog 2.0</name><url>http://bbs.rainbowsoft.org/thread-25185-1-1.html</url><note>启用该插件后，页面中的链接具有提示特效。</note><path></path><include>include.asp</include><level>4</level><author><name>月上之木</name><email></email><url></url></author><adapted>121125</adapted><version>2.0</version><pubdate>2012-8-26</pubdate><modified>2012-10-1</modified><description></description><price></price></plugin>
