/*--------------------------全--局-------------------------------*/


body{
	margin:0;
	padding:0;
	color:#353434;
    background:#F4F4F4;
	font-size:14px;
    font-family: "微软雅黑","宋体","Trebuchet MS", Tahoma, Arial, sans-serif; 

}
a{
	text-decoration: none;
}
a:link {
	color: #0273C6;
}
a:visited {
	color: #0273C6;
}
a:hover {
	color: #DC143C;
	text-decoration: underline;
}
a:active {
	color: #DC143C;
	text-decoration: underline;
}

ul{
	list-style-type:none;
	list-style-position : outside;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
li{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

img{
	border:0;
}

p{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

dl{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
dd{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
dt{
	margin:0 0 0 0;
	padding:0 0 0 0;
}


/*---------------------------各模块设定-------------------------------*/
#divAll{
	width:980px;
	margin:0 auto;
	padding:5px 0 0 0;
}

#divPage{
	width:980px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:left;
	float:left;
}

#divMiddle{
	width:980px;
	margin:15px 0 20px 0;
	padding:0 0 0 0;
	text-align:left;
	float:left;
	background:#FFFFFF;
	border-right:1px solid  #F4F4F4;
	border-left:1px solid #F4F4F4;
	border-top:1px solid #F4F4F4;
}



#divTop{
	width:980px;
	margin:0 auto;
	padding:0;
	text-align:left;
	float:left;
	height:220px;
	background:#FFF url("default/firefox.jpg") no-repeat left bottom;

}

#divSidebar{
    width:240px;
	margin:10px 0 0 0;
	padding:0 0 10px 10px;
	text-align:left;
	float:left;
	
}

#divMain{
	width:700px;
	margin:10px 0 0 0;
	padding:0 10px 10px 10px;
	text-align:left;
	float:left;

}


#divBottom{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 20px 0;
	text-align:center;
    float:left;
}



/*------------------------------侧边栏定义---------------------------*/
.function {
	float:left;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
	text-align:left;
}
.function .function_t{
	font-size:1em;
	height:24px;
	line-height:24px;
	margin:0 0 2px 0;
	padding:5px 0 5px 1em;
	color:#284259;
	background:#F4F4F4;
}


.function ul{
	text-align:left;
	width:95%;
	margin:0 0 0 0;
	padding:0 0 5px 5%;
    border-top:1px solid #FFFFFF;
	list-style-position:outside;
	list-style-type:none;
}
.function li{
	font-size:1em;
	margin:0 0 0 0;
	padding:5px 0 5px 1em;
	background:url("default/pointblue.gif") no-repeat 0 center;
	width:205px;
}

.function .function_c div{
	padding:0.5em 0 0.5em 1em;
}



/*------------------------------网站目录定义---------------------------*/

#divMisc li{
	padding-left:0em;
	background:none;
}


#divCatalog li span.feed-icon{
	display:none;
}

#divCatalog li.li-subcate{
	margin:0 0 0 1em;
}

body.single #divMisc{
	display:none;
}

#divCalendar .function_t{
	display:none;
}



/*------------------------------文章模块---------------------------*/


div.post {
	width:98%;
	margin:0 0 0 0;
	padding:10px 1% 0 1%;
	text-align:left;
}

/*---------------------------文章上下翻条------------------------*/
div.post-nav {
	width:100%;
    height:20px;
    margin:0 0 10px 0;
	clear:both;
    font-size:1em;
}




/*---------------------------文章内容------------------------*/


div.post .post-title{
	width:94%;
    margin:0 0 12px 0;
    padding:0 4% 5px 2%;
    font-size:1.3em;
	font-weight:bold;
    line-height:1.3em; 
	color: #284259;
    text-align:left;
	background:#FFF;
	border-bottom:2px solid #f0f0f0;
}
div.istop-post .post-title{
    text-align:left;
	border-bottom:none;
    margin:0 0 0 0;
	padding-bottom:5px;
}

div.post .post-date{
    height:1em;
	line-height:1em;
	margin:0 0 0 0;
	padding:0px 0 0px 0;
	font-size:0.9em;
	color: #979595;
	font-weight: normal;
    text-align:right;     
}


div.post .post-footer{
	width:100%;
	margin:20px 0 40px 0;
	padding:0 0 5px 0;
	font-size:0.9em;
    font-weight: normal;
	color:gray;
	text-align:right;
}


div.post .post-tags{
	width:100%;
	margin:0 0 0 0;
	padding:2px 0 0 0;
	font-size:1em;
    font-weight: normal;
	color:gray;
	height:20px;
	text-align:left;
    text-indent:2em;
}

body.multi div.post .post-tags{
	display:none;
}




div.post div.post-body{
    text-indent:2em;
	width:100%;
	margin:0 0 15px 0;
	padding:0 0 0 0;
	font-size:1em;
    text-align:justify;
    text-justify:inter-ideograph; 
	line-height:160%; 
}

div.post-body a{
	text-decoration:underline;         
}

div.post-body div.media a{
	padding-left:16px;
	background:#FBFBFB url("default/media.gif") no-repeat 0 center;
}

div.post-body img{
	border: 3px solid #cac4c1; margin: 5px; padding: 0;
}

div.post-body img:hover{
	border: 3px solid #8DBCE5; 
}


div.post-body img.noborder{
	border: 0; margin: 0; padding:0;
}

div.post-body p{
	margin:10px 0 15px 0;
	padding:0;
}
div.post-body p.img{
	margin:0;
	padding:0;
	text-align:center;
}
div.post-body p.inscript{
	margin:0;
	padding:0;
	padding-right:20px;
	text-align:right;
}


/*----------文章中引用code------*/

div.post-body code{
	padding:5px;
	background:#f8f8f8;
    border:1px #F4F4F4 solid;
}

div.post-body img{
   max-width:600px;
   width: expression(this.width > 600 ? 600: true);   /*IE6*/ 
}

div.post-body h1{
	color: #000000;
	margin:0;
	padding:0;
	font-size:1.2em;
}
div.post-body h2{
	color: #000000;
	margin:0;
	padding:0;
	font-size:1.1em;
}
div.post-body h3{
	color: #000000;
	margin:0;
	padding:0;
	font-size:1em;
}
div.post-body h4{
	color: #000000;
	margin:0;
	padding:0;
	font-size:1em;
}
div.post-body h5{
	color: #000000;
	margin:0;
	padding:0;
	font-size:0.9em;
}
div.post-body h6{
	color: #000000;
	margin:0;
	padding:0;
	font-size:0.8em;
}



/*----------------------隐藏最近文章前的日期---------------------------------*/
.article-date {
        display: none;
}


/*---------------------------blog标题-----------------------------*/

#BlogTitle{
	font-size:1.6em;
	margin:5px 0 0 10px;
	padding:0 0 0 0;
	font-weight:bold;
	float:left;
	line-height:1.6em;
}
#BlogTitle a{
	color:#000; 
}
#BlogTitle a:hover {
	color: #DC143C;
	text-decoration: none;
}
#BlogTitle a:active {
	color: #DC143C;
	text-decoration: none;
}
#BlogSubTitle{
	color:#000; 
	font-size:1em;
    font-weight:normal;
	margin:18px 0 0 10px;
	padding:0;
	float:left;
	line-height:1.6em;
}

/*---------------------------版权-----------------------------*/

#BlogPowerBy{
	font-size:1em;
	height:20px;
	margin:0;
	padding:15px 10px 0 10px;
	text-align:center;
	font-weight:normal;
}
#BlogCopyRight{
	font-size:1em;
	height:18px;
	margin:0;
	text-align:center;
	font-weight:normal;
}


/*-----------------------------日历-----------------------------*/
#divCalendar{
    width:100%;
	padding:0 0 0 0;
	text-align:center;
}


#divCalendar div{
    width:100%;
	margin:0 0 0 0;
	padding:5px 0 5px 0;
	float:left;
}
#divCalendar div.month1{
	background:url("default/month1.gif") no-repeat center center;
}
#divCalendar div.month2{
	background:url("default/month2.gif") no-repeat center center;
}
#divCalendar div.month3{
	background:url("default/month3.gif") no-repeat center center;
}
#divCalendar div.month4{
	background:url("default/month4.gif") no-repeat center center;
}
#divCalendar div.month5{
	background:url("default/month5.gif") no-repeat center center;;
}
#divCalendar div.month6{
	background:url("default/month6.gif") no-repeat center center;
}
#divCalendar div.month7{
	background:url("default/month7.gif") no-repeat center center;
}
#divCalendar div.month8{
	background:url("default/month8.gif") no-repeat center center;
}
#divCalendar div.month9{
	background:url("default/month9.gif") no-repeat center center;
}
#divCalendar div.month10{
	background:url("default/month10.gif") no-repeat center center;
}
#divCalendar div.month11{
	background:url("default/month11.gif") no-repeat center center;
}
#divCalendar div.month12{
	background:url("default/month12.gif") no-repeat center center;
}

p.y{
	text-align:center;
	height:1.7em;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
	width:100%;
	font-size:1em;
	font-weight:bold;
}
p.w,p.d,p.yd,p.nd,p.cd{
	float:left;
	width:14%;
	height:1.7em;
	margin:0 0 0 0;
	padding:3px 0 0 0;
	text-align:center;
	vertical-align :middle;
}
p.cd{
	font-weight:bold;
}
p.w{
	background:#F4F4F4;
	padding:5px 0 0 0;
}

/*---------------------------文章和评论翻页条------------------------*/
a.l{
	text-align:left;
	float:left;
}

a.r{
	text-align:right;
	float:right;
}


/*---------------------------引用\评论----------------------------------*/
ul.msg{
	width:95%;
	margin:10px 0 20px 10px;
	padding:5px 10px 5px 10px;
	text-align:left;
	list-style-position : outside;
    table-layout: fixed;
    word-wrap:break-word;
    border:1px solid #eaeaea;

}

li.msgname{
	padding:0 0 5px 5px;
	margin:0px;   
	font-weight: bold;
    font-size:1em;
    border-bottom:1px solid #eaeaea;
}

li.msgname *{
	vertical-align:text-bottom ;
}

li.msgurl{
	text-align:right;
	padding:2px 10px 2px 10px;
	margin:0;
    font-size:1em;
}


li.msggravatar{
	display:block;
	float:left;
	margin-right:5px;
}

li.msgarticle{
	list-style-position : outside;
	padding:10px;
	margin:0;
	line-height:160%; 
    background:#FFF;
}
li.msgtime{
	padding:5px 0 0 0;
	font-weight: normal; 
	font-size:0.8em;
}
ul.msg ul.msg img.avatar{
	width:16px;
	height:16px;
}

/*---------------------------相关文章----------------------------------*/

ul.mutuality li.msgarticle{

}
ul.mutuality li.tbname{
    padding:5px 0 2px 10px;
	margin:0px;
}



/*-------------------留言回复------------------------------*/
li.msgarticle div.quote{
	margin:10px 0 0 0;
    padding:10px;
	background:#FFFFFF;
    border:1px #F4F4F4 solid;
}
li.msgarticle div.quote-title{
	margin:0;
	padding:0;
	font-size:1em;
    color: #DC143C;
}

/*-------------------------------导航栏--------------------------------*/
#divNavBar{
	float:right;
	width:100%;
	height:40px;
	background:#244466;
	color:#fff;
}


#divNavBar h3{
	display:none;
}

#divNavBar ul{
	margin:0;
	padding:0 0 0 10px;
}

#divNavBar li{
	float:left;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-size:1em;
}

#divNavBar a{
	float:left;
	margin:10px 15px 10px 5px;;
	padding:0 0 0px 0px;
	text-decoration: none;
	line-height:22px;
}

#divNavBar a:link {
	color: white;
}
#divNavBar a:visited {
	color: white;
}
#divNavBar a:hover {
	color: #DC143C;         
}

#divNavBar a:active {
	color: #DC143C;
	
}






/************文章内引用的样式*************/

blockquote{
	margin: 10px 0;
	padding: 0 55px;
    color:#808080;
}


/**********自动截取最新发表的标题****************/
#ulPrevious li{
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
}


#divComments li{
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
}



/*----------公告------*/



#divCommentPost{
    background:#F4F4F4;
	width:95%;
	margin:0 0 0 10px;
	padding:5px 0px 15px 20px;
}

#divCommentPost p{margin-top:10px;}
#divCommentPost label{margin-top:5px;}
#txaArticle{margin-top:10px;width:95%;height:150px;}

input.button { ;color:#FFFFFF; font-size:14px; width:100px; height:32px; background:#3a6ea5; border:1px solid #3399CC;cursor: pointer;}



/*--------------------------分页条-------------------------------*/
span.page{
	color:#3a6ea5;
	font-weight:bolder;
	padding:2px 5px 2px 5px;
	background:#99b6dd;
	margin:4px;
}

span.now-page{
	color:#3a6ea5;
	font-weight:bolder;
	padding:2px 5px 2px 5px;
	background:#e0e0e0;
	margin:5px;
}