@charset "utf-8";
/*  
作者：新鲜人
地址：http://www.htmlit.com.cn
邮箱：u2lei@yahoo.com.cn
     xinxr@msn.com
*/
body{ padding:0; margin:0; font-family:"微软雅黑", "宋体", Arial, Helvetica, sans-serif; color:#444444; font-size: 14px; line-height: 20px; background: #FFFFFF}
* { padding:0; margin:0;}
div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span{margin:0; padding:0;}
table{border-collapse:collapse;}
a { text-decoration: none;color: #383838;}
a:hover { color:#d60000;}
ul { padding:0; margin:0;}
li { list-style-type: none;}
.clear { clear: both;}
img { border: none;}
h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

h2 {
	font-size: 1.5em;
	margin: .83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

ul,
ol {
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style-type: decimal;
	margin-left: 2em;
}
/**/
table {
	border-collapse: collapse;
	border:1px solid #E1E1E1;
	background:#ffffff;
	margin-bottom:1em;
	line-height:120%;
}
td{
	border:1px solid #E1E1E1;
	margin:0;
	padding:3px;
}
tr.color1{
background:#ededed;
}
tr.color2{
background:#F4F4F4;
}
tr.color3{
background:#FFFFFF;
}
tr.color4{
background:#ffffdd;
}
/**/
#main { width:100%; background: url(../image/IMG2/left_bg.png) repeat-y left top;}
/*后台顶部*/
#header {}
#header .top { height:85px; padding:0; background:#3A6EA5; position: relative;}
/**/
.logo { width:190px; height:62px; padding:10px 0; left:20px;}
/**/
.user { position: absolute; right:15px; top:10px; width:400px; height:40px; text-align:right; color:#FFFFFF;}
.user .avatar { float:right; width:40px; height:40px; margin-left:15px;}
.username { height:20px; line-height:20px; overflow:hidden;}
.userbtn { height:20px;}
.userbtn a { margin-left:15px; color:#FFFFFF;}
.userbtn a.logout { padding-left:20px; background: url(../image/common/tuic_2.png) no-repeat left 1px;}
.userbtn .logout:hover { padding-left:20px; color:#000000; background: url(../image/common/tuic_1.png) no-repeat left 1px;}
.userbtn a.profile { padding-left:20px; background: url(../image/common/user_2.png) no-repeat left 1px;}
.userbtn .profile:hover { padding-left:20px; color:#000000; background: url(../image/common/user_1.png) no-repeat left 1px;}
/**/
.menu { height:30px; font-weight:bold; position: absolute; right:10px; bottom:0px;}
.menu ul {float:right;margin:0;padding:0;}
.menu ul li { float:right;line-height:30px; height:30px; margin:0 3px; text-align:center;}
.menu ul li a {  line-height:30px;height:30px; padding:2px 12px; color:#383838; background:#FFFFFF;}
.menu ul li a:hover { color:#FFFFFF; background: #B0CDEE;}

/*官方公告区*/
#header .info {display:none; height:36px; line-height:36px; padding:0 0 0 70px; color:#04376C; background: #B0CDEE url(../image/IMG/horn.png) no-repeat 40px 8px;}
#header .info a { color:#04376C;}

/*左边导航*/
#main .main_left { float:left; width:140px; background:#E0E1E2; padding:0px;margin:5px 0 0 0;}
#main .main_left .line { height:2px; margin:5px 0 4px 0; background: url(../image/IMG/line.png) no-repeat left bottom;}
#main .main_left #nav {}
#main .main_left #nav li { float:left; width:140px; height:32px; margin-bottom:0;border-bottom:5px solid #fff;cursor:pointer;}
#main .main_left #nav a { float:left;  width:140px; height:32px; line-height:35px;cursor:pointer;}
#main .main_left #nav a:hover { color:#000000; background:#b0cdee;}
#main .main_left #nav span {  float:left;width:90px; height:32px; line-height:32px; padding-right:55px; text-align:right;cursor:pointer;}
/*导航高亮*/
#main .main_left #nav a.on,
#main .main_left #nav a:hover.on { color:#FFFFFF; background:#3a6ea5;}
/*主要内容区*/
#main .main_right { width:100%; float:right; margin-left:-150px;}
#main .main_right .yui { margin-left:140px;}
#main .main_right .yui { position:relative;}
/*导航图标区*/
#nav span{ background-repeat:no-repeat;background-position: 100px 8px;}
#nav .home span { background-image: url(../image/common/home_1.png);}
#nav .reconstruction span { background: url(../image/common/reconstruction_1.png);}
#nav .new span { background-image: url(../image/common/new_1.png);}
#nav .article span { background-image: url(../image/common/article_1.png);}
#nav .category span { background-image: url(../image/common/category_1.png);}
#nav .tags span { background-image: url(../image/common/tags_1.png);}
#nav .comments span { background-image: url(../image/common/comments_1.png);}
#nav .quoted span { background-image: url(../image/common/quoted_1.png);}
#nav .accessories span { background-image: url(../image/common/accessories_1.png);}
#nav .themes span { background-image: url(../image/common/themes_1.png);}
#nav .plugin span { background-image: url(../image/common/plugin_1.png);}
#nav .link span { background-image: url(../image/common/link_1.png);}
#nav .file span { background-image: url(../image/common/file_1.png);}
/*高亮导航图标区*/
#nav .home span { background-image: url(../image/common/home_1.png);}
#nav .reconstruction .on span { background-image: url(../image/common/reconstruction_2.png);}
#nav .new .on span { background-image: url(../image/common/new_2.png);}
#nav .article .on span { background-image: url(../image/common/article_2.png);}
#nav .category .on span { background-image: url(../image/common/category_2.png);}
#nav .tags .on span { background-image: url(../image/common/tags_2.png);}
#nav .comments .on span { background-image: url(../image/common/comments_2.png);}
#nav .quoted .on span { background-image: url(../image/common/quoted_2.png);}
#nav .accessories .on span { background-image: url(../image/common/accessories_2.png);}
#nav .themes .on span { background-image: url(../image/common/themes_2.png);}
#nav .plugin .on span { background-image: url(../image/common/plugin_2.png);}
#nav .link .on span { background-image: url(../image/common/link_2.png);}
#nav .file .on span { background-image: url(../image/common/file_2.png);}

/**/
#main .main_right .content { padding:5px 12px;}
/*后台首页*/
#divMain {	 background:#FFFFFF;}
#divMain2 { padding:0px;margin:0px;}
.divHeader { height:1.5em; line-height:1.5em; font-size:1.8em; padding:0; background:#FFF;}
/**/
#main .conleft { width:100%; float:left; margin-right:-280px;}
#main .conleft .shell { margin-right:280px;}

.conleft_body { background:#FFFFFF; padding:0px;}
.conleft_body h2 { font-size:22px; line-height:30px; margin-bottom:20px;}
.conleft_body p { line-height:22px; font-size:14px;}
.box  h2 { height:30px; line-height:30px; font-size:18px; font-weight:normal; background: url(image/IMG/line.png) repeat-x left bottom;}
/**/
.conright { width:260px; float:right;}
.box_category { height:200px; background:#FFFFFF; padding:10px; margin-bottom:10px;}
/**/
.tableBorder { line-height:26px;}
#tdUpdateInfo { line-height:24px;}
/**/

/**/

/*文章编辑*/
.conleft_body .form {} 
/**/

/**/

/**/

/**/

/**/

/**/

/**/
/**/
.SubMenu{
	padding:0 0 5px 0;
	margin:0 0 0 0;
	width:100%;
	text-align:left;
	font-size:1em;
	height:32px;
}

.SubMenu span {
	float:left;
	font-weight:bold;
	padding:2px 10px 2px 0px;
	margin:0 5px 0 0;
	text-align:center;
}

.SubMenu span.m-left {
	float:left;
}
.SubMenu span.m-right {
	float:right;
}

.SubMenu span a:hover {
	background:#b0cdee;
	text-decoration : none; 
	color:white;

}
.SubMenu span a:active {
	background:#b0cdee; 
	text-decoration : none;
	color:white;
}

.SubMenu span a{
	height:40px;
	background:#64aad0;
	padding:5px 10px;
	float:left;
	color:white;
	height:20px;
	line-height:20px;
}

.SubMenu span.m-now a{
	border:1px solid #FFFFFF;
	margin-bottom: -2px;
	border-bottom:3px solid #FFFFFF;
}




