body{ padding:0;margin:0;font-family:"宋体", Arial, Helvetica, sans-serif;background:#FFFFFF;color:#444444;font-size: 14px;line-height: 20px;}
*{padding:0; margin:0;}
.setup{width:950px; height:800px; padding:120px 0 0 0;margin:0 auto;}
#ddleft{float:left;background:;width:350px;height:450px;}
#ddright{float:left;background:;width:600px;height:450px;}

input[type="text"],input[type="password"]{padding-left:5px;}

input[type="submit"],input[type="button"]{ color:#FFFFFF; font-size:1.1em; height:1.8em;padding: 0.15em 2em 0.20em 2em;padding: 0.15em 1em 0.20em 1em\9;margin:0.2em 0.5em; background:#3a6ea5; border:1px solid #3a6ea5;cursor: pointer;}

#title{color:#3d69aa;border-bottom:1px solid #3d69aa;font-size:20px;font-weight:bolder;padding-bottom:5px;margin-bottom:5px;}

.title{color:#3d69aa;border-bottom:1px solid #fff;font-size:17px;font-weight:bolder;padding-top:10px;}

#content{height:400px;}

#bottom{text-align:right;}

textarea{height:390px;width:600px;border:none;}

#ddleft img{width:320px;height:100px;margin-top:80px;}
#ddleft b{color:#3d69aa;}
#ddleft span{border:1px solid gray;}

p{line-height:2.5em;clear:both;}

#content b{font-weight:normal;}

label{cursor: pointer;}