@charset "utf-8";
/*  
作者：新鲜人
地址：http://www.htmlit.com.cn
邮箱：u2lei@yahoo.com.cn
     xinxr@msn.com
*/
body{ padding:0;margin:0;font-family:"宋体", Arial, Helvetica, sans-serif;background:#FFFFFF;color:#444444;font-size: 12px;line-height: 20px;}
* { font-size:14px ;padding:0; margin:0;}
div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span{margin:0; padding:0;}
table{border-collapse:collapse;}
a { text-decoration: none;color: #444444;}
a:hover { color:#d60000;}
ul { padding:0; margin:0;}
li { list-style-type: none;}
.clear { clear: both;}
img { border: none;}

/*=======================================================*/
.bg {position:absolute;top:0;left:0;z-index:-1000;height:258px;width:100%;background:#3a6ea5;}
#wrapper {width:900px;padding:0; margin:0 auto;}
.logo { width:200px; height:70px; margin:170px auto 60px auto;}
.logo img{width:200px;height:70px; background:url("../image/admin/logo.png");}
input { float:left;vertical-align:middle;}
.login { width:530px; height:100px; margin:0 auto; padding-left:30px;}
.login dl { height:50px;}
.login dd { width:260px; float:left;}
dd.checkbox { padding-left:60px; width:210px;text-align :left;}
label { line-height:30px; float:left;vertical-align:text-bottom;padding:0 5px 0 5px;}
input[type="checkbox"]{margin:8px 0 0 0;padding:0;}
#edtUserName, #edtPassWord { float:left; width:170px; height:25px; padding:0 5px; line-height:27px; }
dd.submit { width:220px; }
.button { float:right;color:#FFFFFF; font-size:14px; width:70px; height:32px; background:#3a6ea5; border:1px solid #3399CC;cursor: pointer;}