<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
<id>HeartVote</id>
<name>用“心”打分</name>
<note>自定义CSS和图片，还有JS，可以有很多种变化。</note>
<type>inline</type>
<path>main.asp</path>
<include>include.asp</include>
<level>4</level>
<author>
	<name>zx.asd</name>
	<url>http://www.rainbowsoft.org/zblog/</url>
	<email></email>
</author>
<version>2.0</version>
<modified>2012-9-15</modified>
</plugin>