<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>KindEditor</id><name>KindEditor编辑器</name><url></url><note></note><path>edit_kindeditor.asp</path><include>include.asp</include><level>1</level><author><name>未寒</name><email>im@imzhou.com</email><url></url></author><adapted>121221</adapted><version>1.0</version><pubdate>2013/1/6</pubdate><modified>2013-1-6</modified><description><![CDATA[用KindEditor编辑器替换默认的该死，找死的，SB的Ueditor编辑器]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
