<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0">
	<id>YTAlipay</id>
	<name>YT.Alipay</name>
	<url>HTTP://SHOP.PUGUWANG.COM/</url>
	<note>基于YT.CMS的支付宝插件,实现担保交易与即时交易</note>
	<author>
		<name>瑜廷</name>
		<url>HTTP://SHOP.PUGUWANG.COM/</url>
		<email>33195@qq.com</email>
	</author>
	<type>inline</type>
	<path>YT.Panel.asp</path>
	<include>YT.Main.asp</include>
	<level>1</level>
	<adapted>Z-Blog 2.0</adapted>
	<version>1.0.0</version>
	<pubdate>2012.08.14</pubdate>
	<modified>2012.08.14</modified>
</Plugin>