	<ol class="commentlist">

	   <li class="comment even thread-even depth-<#article/comment/id#>" id="comment-<#article/comment/id#>">

			<div id="div-comment-<#article/comment/id#>">

      		<div class="comment-author vcard">

			<div id="avatar"><img alt='' src='http://0.gravatar.com/avatar/<#article/comment/emailmd5#>?s=36&amp;d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2F48837deade4cdf6696ac477c3b40e11f%3Fs%3D36&amp;r=G' class='avatar avatar-40 photo avatar-default' height='40' width='40' /></div>

			<span class="reply">
				<a class='comment-reply-link' href='#respond' onclick="RevertComment('<#article/comment/id#>');doRevert('<#article/comment/id#>');">[回复]</a>
			</span>
			<strong><a href='<#article/comment/urlencoder#>' rel='external nofollow' name="cmt<#article/comment/id#>" class='url'><#article/comment/name#></a>	</strong>：<span class="datetime">发表于 <#article/comment/posttime#> &nbsp;&nbsp;</span>
		</div>
				<p><#article/comment/content#></p>
  </div>

</li>	</ol>