<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>MusicLink</id><name>博客音乐外链</name><url></url><note>后台写文章时,插入自己喜欢的音乐作为背景音乐。填入正确歌手和歌名即可，不需寻找歌曲链接。</note><path>main.asp</path><include>include.asp</include><level>3</level><author><name>未寒</name><email>im@imzhou.com</email><url>http://imzhou.com/</url></author><adapted>Z-Blog 2.0</adapted><version>0.1</version><pubdate>2012-10-27</pubdate><modified>2012-11-15</modified><description><![CDATA[后台写文章时,插入自己喜欢的音乐作为背景音乐。填入正确歌手和歌名即可，不需寻找歌曲链接。]]></description><price></price></plugin>
