<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
<id>AppCentre</id>
<name>资源中心</name>
<url>http://www.rainbowsoft.org/</url>
<note>Z-Blog资源大本营</note>
<type>inline</type>
<path>main.asp</path>
<include>include.asp</include>
<level>1</level>
<author>
	<name>Z-Blog</name>
	<url>http://www.rainbowsoft.org/</url>
	<email></email>
</author>
<version>1.0</version>
<adapted>Z-Blog 2.0</adapted>
<pubdate>2012-8-25</pubdate>
<modified>2012-8-25</modified>
</plugin>