#ISAPI Rewrite 3
RewriteBase /
RewriteRule ^default_([0-9]+)\.html$ /catalog.asp\?page=$1
RewriteRule ^category-([0-9]+)_([0-9]+).html$ /catalog.asp\?cate=$1&page=$2 [NU]
RewriteRule ^category-([0-9]+).html$ /catalog.asp\?cate=$1 [NU]
RewriteRule ^author-([0-9]+)_([0-9]+).html$ /catalog.asp\?auth=$1&page=$2 [NU]
RewriteRule ^author-([0-9]+).html$ /catalog.asp\?auth=$1 [NU]
RewriteRule ^tags-(?!zb_)(.*)_([0-9]+).html$ /catalog.asp\?tags=$1&page=$2 [NU]
RewriteRule ^tags-(?!zb_)(.*).html$ /catalog.asp\?tags=$1 [NU]
RewriteRule ^date-([0-9\-]+)_([0-9]+).html$ /catalog.asp\?date=$1&page=$2 [NU]
RewriteRule ^date-([0-9\-]+).html$ /catalog.asp\?date=$1 [NU]
RewriteRule ^post/[0-9\-]+/[0-9\-]+/(?!zb_)(.*).html$ /view.asp\?id=$1 [NU]
RewriteRule ^(?!zb_)(.*).html$ /view.asp\?id=$1 [NU]
