<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>Gravatar</id><name>Gravatar头像</name><url>http://www.zsxsoft.com/</url><note>前台评论、后台管理显示Gravatar头像</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com/</url></author><adapted>121221</adapted><version>1.0</version><pubdate>2012-7-1</pubdate><modified>2012-12-21</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
