<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>ThemePluginEditor</id><name>主题插件制作器</name><url>http://www.zsxsoft.com/archives/261.html</url><note>主题插件制作器，能够制作出更强大的主题。</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>Z-Blog 2.0</adapted><version>1.1</version><pubdate>2012-11-1</pubdate><modified>2012-11-11</modified><description><![CDATA[主题插件制作器，能够制作出更强大的主题。]]></description><price>0</price></plugin>
