<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>weixin</id><name>微信搜索</name><url>http://app.rainbowsoft.org/catalog.asp?user=4</url><note>Z-Blog连接微信公众平台</note><path>main.asp</path><include>weixin.asp</include><level>1</level><author><name>未寒</name><email>im@imzhou.com</email><url>http://imzhou.com/</url></author><adapted>130722</adapted><version>1.3</version><pubdate>2013-02-07</pubdate><modified>2013-7-22</modified><description><![CDATA[Z-Blog连接微信公众平台
利用其API查看最新文章和用关键词搜索文章的功能。]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
