<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
<id>ZBQQConnect</id>
<name>QQ互联</name>
<url>http://www.zsxsoft.com/archives/231.html</url>
<note>Z-Blog QQ互联插件</note>
<type>inline</type>
<path>main.asp</path>
<include>include.asp</include>
<level>1</level>
<author>
<name>ZSXSOFT</name>
<url>http://www.zsxsoft.com/</url>
<email>zsx@zsxsoft.com</email>
</author>
<version>1.0</version>
<adapted>Z-Blog 2.0</adapted>
<pubdate>2012-7-1</pubdate>
<modified>2012-8-8</modified>
</plugin>
