<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>WLWSupport</id><name>Windows Live Writer支持</name><url>http://bbs.rainbowsoft.org/thread-22752-1-2.html</url><note>启用该插件后，可以使用Windows Live Writer的tags编辑等功能。更多请看&lt;a href="http://bbs.rainbowsoft.org/thread-22752-1-2.html"&gt;使用说明&lt;/a&gt;。</note><path></path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email></email><url>http://www.zdevo.com/</url></author><adapted>121125</adapted><version>1.2.1</version><pubdate>2008-5-1</pubdate><modified>2012-11-4</modified><description></description><price></price></plugin>
