<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0"><id>WLWSupport</id><name>Windows Live Writer支持</name><url>http://bbs.rainbowsoft.org/thread-22752-1-2.html</url><note>启用该插件后，可以使用Windows Live Writer的tags编辑等功能。更多请看&lt;a href="http://bbs.rainbowsoft.org/thread-22752-1-2.html"&gt;使用说明&lt;/a&gt;。</note><author><name>zx.asd</name><url>http://www.zdevo.com/</url><email></email></author><type>inline</type><path></path><include>include.asp</include><level>1</level><adapted>Z-Blog 1.8 Spirit</adapted><version>1.2</version><pubdate>2008-5-1</pubdate><modified>2008-6-6</modified></Plugin>
