<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>CommentEditor</id><name>前台评论编辑器</name><url>http://www.zsxsoft.com</url><note>前台评论编辑器</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>Z-Blog 2.0</adapted><version>1.0</version><pubdate>2012-11-3</pubdate><modified>2012-11-3</modified><description><![CDATA[前台评论编辑器]]></description><price></price></plugin>
