<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0">
  <id>WindsPhoto</id>
  <name>WindsPhoto</name>
  <url>http://www.wilf.cn/post/windsphoto.html</url>
  <note>&lt;p&gt;WindsPhoto是Z-Blog较好的相册图片解决方案之一。&lt;/p&gt;&lt;p&gt;贴图相册与相册图片插入功能，使WindsPhoto与Z-Blog紧密结合，更可以随时切换到Z-Blog上传框架。&lt;/p&gt;&lt;p&gt;2.7版本重写了部分代码，对数据库结构进行升级，在增强用户体验方面做了很多工作。&lt;/p&gt;&lt;p&gt;更多功能：贴图相册、相册图片插入博客、自定义模板、LightBox等特效，加密相册，外链图片，自动盗链，生成缩略图，文字/LOGO水印等功能...&lt;/p&gt;&lt;p&gt;&lt;a href="http://www.wilf.cn/post/WindsPhoto_update_readme.html" target="_blank"&gt;&lt;font color="red"&gt;升级必读...&lt;/font&gt;&lt;/a&gt;&lt;/p&gt;</note>
  <author>
    <name>狼的旋律 / winds</name>
    <url>http://www.wilf.cn/</url>
    <email>wolfit50@gmail.com</email>
  </author>
  <type>inline</type>
  <path>admin_main.asp</path>
  <include>include.asp</include>
  <level>2</level>
  <adapted>Z-Blog 2.0</adapted>
  <version>2.7.4</version>
  <pubdate>2008-1-23</pubdate>
  <modified>2012-8-26</modified>
</Plugin>
