<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0">
<id>LoadCounter</id>
<name>日志读取器</name>
<url>http://www.zsxsoft.com/</url>
<note>Z-Blog 2.0 日志读取器</note>
<author>
<name>ZSXSOFT</name>
<url>http://www.zsxsoft.com/</url>
<email>zsx@zsxsoft.com</email>
</author>
<type>outline</type>
<path>list.asp</path>
<include>include.asp</include>
<level>1</level>
<adapted>Z-Blog 2.0</adapted>
<version>1.0</version>
<pubdate>2012-8-21</pubdate>
<modified>2011-8-21</modified>
</Plugin>
