<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>AdvancedNavbar</id><name>可视化导航栏（高级导航栏）</name><url></url><note></note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>未寒</name><email>im@imzhou.com</email><url></url></author><adapted>130128</adapted><version>1.0</version><pubdate>2013/1/5</pubdate><modified>2013-1-5</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
