<article class="article">
	<header class="article-header">
		<h1 class="article-title"><#article/title#></h1>
		<p class="article-meta">
			<#article/posttime/shortdate#>
			分类: <a href="<#article/category/url#>" title="查看 <#article/category/name#> 中的全部文章" rel="category tag"><#article/category/name#></a>
			<a class="comm" href="<#article/url#>#comments" title="查看 <#article/title#> 的评论"><#article/commnums#>条评论</a>
			<span class="view"><#article/viewnums#> ℃</span>                     
		</p>
	</header>
	<div class="db_post">
		<#ZC_TM_POSTADHEADER#>
	</div>                
	<div class="article-entry"><#article/content#></div>
	
    <#template:article_tag:begin#>
		<footer class="article-footer">
			<div class="article-tags">标签: <#template:article_tag#></div>                    
		</footer>
    <#template:article_tag:end#>
	<div class="db_post" style="margin:-15px 0 15px 0;">
		<#ZC_TM_POSTADFOOTER#>
	</div>
</article>
<#template:article_comment:begin#>
<div id="postcomments">
	<h3 class="base-tit" id="comments">网友评论<b><#article/commnums#></b>条</h3>
	<#template:article_comment#>
	<#template:article_comment_pagebar#>
	<div class="pagenav"></div>
</div>  
<#template:article_commentpost#>
<#template:article_comment:end#>