<article class="article">
	<header class="article-header">
		<h1 class="article-title"><#article/title#></h1>
	</header> 
	<div class="article-entry"><#article/content#></div>
</article>
<#template:article_comment:begin#>
<div id="postcomments">
	<h3 class="base-tit" id="comments">网友评论<b><#article/commnums#></b>条</h3>
	<#template:article_comment#>
	<#template:article_comment_pagebar#>
	<div class="pagenav"></div>
</div>  
<#template:article_commentpost#>
<#template:article_comment:end#>