<#TEMPLATE_HEADER#>
<#TEMPLATE_HEADER2#>
<link rel="alternate" type="application/rss+xml" href="<#ZC_BLOG_HOST#>feed.asp" title="<#ZC_BLOG_TITLE#>" />
</head>
  <body class="home blog" id="hasfixed">
    <header class="header">
      <div class="central">
        <h1 class="logo">
          <a href="<#ZC_BLOG_HOST#>" title="<#ZC_BLOG_TITLE#> - <#ZC_BLOG_SUB_NAME#>"><#ZC_BLOG_TITLE#></a>
        </h1>
        <ul class="nav">
			<#CACHE_INCLUDE_NAVBAR#>
        </ul>
        <ul class="header-menu">
            <li class="menu-follow">
			<a class="btn btn-arrow btn-headermenu" href="javascript:;">订阅关注</a>
            <div class="popup-layer">
              <div class="popup">
				<#ZC_TM_SetWeiBo#>
                <div class="popup-follow-feed">
                <h4>订阅到：</h4>
                <a target="_blank" href="http://mail.qq.com/cgi-bin/feed?u=<#ZC_BLOG_HOST#>">QQ邮箱</a>
                <a target="_blank" href="http://xianguo.com/subscribe?url=<#ZC_BLOG_HOST#>">鲜果</a>
                <a target="_blank" href="http://reader.yodao.com/#url=<#ZC_BLOG_HOST#>">有道</a>
                <h4>订阅地址：</h4>
                <input class="ipt" type="text" readonly="readonly" value="<#ZC_BLOG_HOST#>feed.asp" /></div>
				<#ZC_TM_SetFeedToMail#>
              </div>
            </div>
          </li>
          <li class="menu-profile">
            <a class="btn btn-arrow btn-headermenu" href="javascript:;">登陆后台</a>
            <div class="popup-layer">
              <div class="popup">
                <form class="popup-signin" name="loginform" action="http://lisizhang.com/wp-login.php" method="post">
                <h4>用户名：</h4>
                <input class="ipt" type="text" name="log" value="" size="20" />
                <h4>密码：</h4>
                <input class="ipt" type="password" name="pwd" value="" size="20" /> 
                <input class="btn btn-primary" type="submit" name="submit" value="立即登录" />
                <input type="hidden" name="redirect_to" value="http://lisizhang.com/wp-admin/admin.php?page=ciphpdown/vip-items.php" />
				</form>
              </div>
            </div>
          </li>
        </ul>
        <form method="post" class="search-form" action="<#ZC_BLOG_HOST#>zb_system/cmd.asp?act=Search">
          <input class="search-input" name="edtSearch" type="text" placeholder="输入关键字搜索" autofocus="" x-webkit-speech="" />
          <input class="btn btn-primary search-submit" type="submit" name="btnPost" value="搜索" />
        </form>
      </div>
    </header>
    <section class="focus">
      <div class="central">
        <div class="toptip">
        <strong>最新消息：</strong>每个人的一生，都应该有一段最艰难的经历。我们会因此变得坚强，懂得珍惜。</div>
      </div>
    </section>
    <section class="central container">
      <div class="content-wrap">
        <div class="content">
			<#template:article-multi#>
			<div class="paging">
				<#template:pagebar#>
			</div>
        </div>
      </div>
      <aside class="sidebar">
		<#template:sidebar#>
      </aside>
    </section>
<#TEMPLATE_FOOTER#>
