    <section class="showlinks">
      <div class="central">
        <ul class="showlink">
          <#CACHE_INCLUDE_X2013_SHOWLINK#>
        </ul>
      </div>
    </section>
    <footer class="footer">
      <div class="central">
        <div class="trackcode">
			<a href="<#ZC_BLOG_HOST#>"><#ZC_BLOG_TITLE#></a>　Theme by 
			<a href="http://lisizhang.com" target="_blank"><#ZC_BLOG_THEME#></a> and 
			<a href="http://imzhou.com" target="_blank">未寒</a> Powered By
			<a href="http://www.rainbowsoft.org/" target="_blank">Z-Blog</a>
        </div>
        <div class="copyright">
			<#ZC_BLOG_COPYRIGHT#>
        </div>
      </div>
    </footer>
    <div class="rollto" style="display: block;">
      <a class="ico ico-totop" title="回顶部"></a>
    </div>
  </body>
</html>