<#TEMPLATE_HEADER#>
</head>
<body>
<div class="h95"></div>
<div class="box wid700  wid1000"> 
    <div class="selfinfo">
		<div class="logo">
			<a href="<#ZC_BLOG_HOST#>"><img src="<#ZC_BLOG_HOST#>zb_users/theme/ReadLite/include/96.jpg"><i></i></a>
		</div>
		<h1><a href="<#ZC_BLOG_HOST#>"><#ZC_BLOG_NAME#></a></h1>
		<div class="text"><#ZC_BLOG_SUB_NAME#></div>
    </div>
	    <div class="sch">
        <form action="<#ZC_BLOG_HOST#>zb_system/cmd.asp?act=Search" method="post" id="searchform" >
            <input value="搜索" type="text" name="edtSearch" onfocus="if(this.value=='搜索'){this.value='';}" onblur="if(this.value==''){this.value='搜索';}" class="txt">
        </form>
    </div>
    <ul class="sidelist">
		<#CACHE_INCLUDE_NAVBAR#>
    </ul>
</div>
<#template:article-page#>
<#TEMPLATE_FOOTER#>
<!-- <#BLOG_CREATE_TIME#> -->