<#TEMPLATE_HEADER#>
<#TEMPLATE_HEADER2#>
<link rel="stylesheet" rev="stylesheet" href="<#ZC_BLOG_HOST#>zb_users/theme/<#ZC_BLOG_THEME#>/STYLE/comment.css" type="text/css"/>
<meta name="Keywords" content="<#article/tagtoname#>">
</head>
  <body class="home blog" id="hasfixed">
    <header class="header">
      <div class="central">
        <h1 class="logo">
          <a href="<#ZC_BLOG_HOST#>" title="<#ZC_BLOG_TITLE#> - <#ZC_BLOG_SUB_NAME#>"><#ZC_BLOG_TITLE#></a>
        </h1>
        <ul class="nav">
			<#CACHE_INCLUDE_NAVBAR#>
        </ul>
        <ul class="header-menu">
            <li class="menu-follow">
			<a class="btn btn-arrow btn-headermenu" href="javascript:;">订阅关注</a>
            <div class="popup-layer">
              <div class="popup">
				<#ZC_TM_SetWeiBo#>
                <div class="popup-follow-feed">
                <h4>订阅到：</h4>
                <a target="_blank" href="http://mail.qq.com/cgi-bin/feed?u=<#ZC_BLOG_HOST#>">QQ邮箱</a>
                <a target="_blank" href="http://xianguo.com/subscribe?url=<#ZC_BLOG_HOST#>">鲜果</a>
                <a target="_blank" href="http://reader.yodao.com/#url=<#ZC_BLOG_HOST#>">有道</a>
                <h4>订阅地址：</h4>
                <input class="ipt" type="text" readonly="readonly" value="<#ZC_BLOG_HOST#>feed.asp" /></div>
				<#ZC_TM_SetFeedToMail#>
              </div>
            </div>
          </li>
        </ul>
        <form method="post" class="search-form" action="<#ZC_BLOG_HOST#>zb_system/cmd.asp?act=Search">
          <input class="search-input" name="edtSearch" type="text" placeholder="输入关键字搜索" autofocus="" x-webkit-speech="" />
          <input class="btn btn-primary search-submit" type="submit" name="btnPost" value="搜索" />
        </form>
      </div>
    </header>
    <section class="focus">
      <div class="central">
        <div class="toptip">
        <strong>当前位置:&nbsp;&nbsp;</strong>
		<strong><a href="<#ZC_BLOG_HOST#>">网站首页</a></strong> >> 
		<a href="<#article/category/url#>" title="查看 <#article/category/name#> 中的全部文章"><#article/category/name#></a> >> <#article/title#>
		</div>
      </div>
    </section>
    <section class="central container">
      <div class="content-wrap">
        <div class="content">
			<#template:article-single#>
        </div>
      </div>
      <aside class="sidebar">
		<#template:sidebar#>
      </aside>
    </section>
<#TEMPLATE_FOOTER#>
<!-- <#BLOG_CREATE_TIME#> -->