<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>BetterFeed</id><name>RSS Feed优化插件</name><url></url><note>Feed内容优化加强</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>月上之木</name><email></email><url></url></author><adapted>121125</adapted><version>2.2</version><pubdate>2012-8-25</pubdate><modified>2012-10-15</modified><description></description><price></price></plugin>
