<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>YTCMS</id><name>Content Manage System</name><url>http://www.puguwa.com/?bug</url><note>内容管理系统,可以更方便的在Z-BLOG平台制作丰富界面</note><path>YT.Panel.asp</path><include>YT.Main.asp</include><level>1</level><author><name>瑜廷</name><email>33195@qq.com</email><url>http://www.puguwa.com/</url></author><adapted>121221</adapted><version>2.0 130104</version><pubdate>2011-03-26</pubdate><modified>2013-01-04</modified><description><![CDATA[内容管理系统,可以更方便的在Z-BLOG平台制作丰富界面]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions>FilterSQL</rewritefunctions><conflict></conflict></advanced></plugin>
