<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>uEditorRemoteImage</id><name>自动下载远程图片</name><url>http://www.zsxsoft.com</url><note>依托于uEditor的功能，可自动下载远程图片</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>Z-Blog 2.0</adapted><version>1.0</version><pubdate>2012-10-5</pubdate><modified>2012-10-5</modified><description><![CDATA[依托于uEditor的功能，可自动下载远程图片。]]></description><price>0</price></plugin>
