<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
<id>MiniTu</id>
<name>Mini缩略图</name>
<url></url>
<note>提取文章中的图片作为摘要中的产品展示, 使用 &lt;#article/intro/minitu#&gt; 标签, 适用于产品博客.</note>
<type>inline</type>
<include>include.asp</include>
<path>setting.asp</path>
<level>1</level>
<author>
	<name>流年</name>
	<url>http://www.zbadmin.com/</url>
	<email>841217204@qq.com</email>
</author>
<version>0.2</version>
<adapted>Z-Blog 2.0</adapted>
<pubdate>2012-2-20</pubdate>
<modified>2012-8-18</modified>
</plugin>