<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin version="2.0">
	<id>UBB4ZB18</id>
	<name>UBB For ZBlog18</name>
	<url>http://www.zsxsoft.com/</url>
	<note>将1.8时代用UBB编写的文章正常显示</note>
	<type>inline</type>
	<path>main.asp</path>
	<include>include.asp</include>
	<level>1</level>
	<author>
		<name>zsx</name>
		<url>http://www.zsxsoft.com/</url>
		<email>zsx@zsxsoft.com</email>
	</author>
	<version>1.0</version>
	<adapted>121001</adapted>
	<pubdate>2012-9-29</pubdate>
	<modified>2012-11-24</modified>
</plugin>
