<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>ReplaceWord</id><name>敏感词替换器</name><url>http://www.zsxsoft.com</url><note>敏感词替换器</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>Z-Blog 2.0</adapted><version>1.0</version><pubdate>2012/11/22</pubdate><modified>2012/11/22</modified><description><![CDATA[敏感词替换器]]></description><price>0</price></plugin>
