@charset "utf-8";
/*  
作者：新鲜人
地址：http://www.htmlit.com.cn
邮箱：u2lei@yahoo.com.cn
     xinxr@msn.com
*/
body{ padding:0; margin:0; font-family:"微软雅黑", "宋体", Arial, Helvetica, sans-serif; color:#444444; font-size: 12px; line-height: 20px; background: #FFFFFF}
* { padding:0; margin:0;}
div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span{margin:0; padding:0;}
table{border-collapse:collapse;}
a { text-decoration: none;color: #383838;}
a:hover { color:#d60000;}
ul { padding:0; margin:0;}
li { list-style-type: none;}
.clear { clear: both;}
img { border: none;}
h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

h2 {
	font-size: 1.5em;
	margin: .83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

ul,
ol {
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style-type: decimal;
	margin-left: 2em;
}
/**/
table {
	border-collapse: collapse;
	border:1px solid #babbbc;
	background:#ffffff;
	margin-top:10px;
	line-height:120%;
}
td{
	border:1px solid #babbbc;
	margin:0;
	padding:3px;
}
tr.color1{
background:#ededed;
}
tr.color2{
background:#F1F4F7;
}
tr.color3{
background:#FFFFFF;
}
tr.color4{
background:#ffffdd;
}
/**/
#main { width:100%; background: url(../image/IMG/left_bg.png) repeat-y left top;}
/*后台顶部*/
#header {}
#header .top { height:92px; padding:0 20px; background:#3A6EA5; border-bottom:3px solid #FFFFFF; position: relative;}
/**/
.logo { width:190px; height:62px; padding:15px 0; left:20px;}
/**/
.user { position: absolute; right:23px; top:15px; width:400px; height:40px; text-align:right; color:#FFFFFF;}
.user .avatar { float:right; width:40px; height:40px; margin-left:15px;}
.username { height:20px; line-height:20px; overflow:hidden;}
.userbtn { height:20px;}
.userbtn a { margin-left:15px; color:#FFFFFF;}
.userbtn a.logout { padding-left:20px; background: url(../image/common/tuic_2.png) no-repeat left 1px;}
.userbtn .logout:hover { padding-left:20px; color:#000000; background: url(../image/common/tuic_1.png) no-repeat left 1px;}
.userbtn a.profile { padding-left:20px; background: url(../image/common/user_2.png) no-repeat left 1px;}
.userbtn .profile:hover { padding-left:20px; color:#000000; background: url(../image/common/user_1.png) no-repeat left 1px;}
/**/
.menu { height:26px; line-height:26px; font-weight:bold; position: absolute; right:20px; bottom:0px;}
.menu ul li { float:right; display:block; height:26px; margin:0 3px; text-align:center;}
.menu ul li a { display:block; height:26px; padding:0 15px; color:#383838; background:#FFFFFF;}
.menu ul li a:hover { color:#FFFFFF; background: #B0CDEE;}

/*官方公告区*/
#header .info { height:36px; line-height:36px; padding:0 0 0 70px; font-size:12px; color:#04376C; background: #B0CDEE url(../image/IMG/horn.png) no-repeat 40px 8px;}
#header .info a { color:#04376C;}

/*左边导航*/
#main .main_left { float:left; width:160px; background:#E0E1E2; padding:20px 0 30px;}
#main .main_left .line { height:2px; margin:5px 0 4px 0; background: url(../image/IMG/line.png) no-repeat left bottom;}
#main .main_left #nav {}
#main .main_left #nav p { display:block; width:145px; height:34px; margin-bottom:2px;}
#main .main_left #nav a { display:block; width:145px; height:34px; line-height:34px; font-size:14px;}
#main .main_left #nav a:hover { color:#000000; background:#b0cdee;}
#main .main_left #nav span { display:block; width:90px; height:34px; line-height:34px; font-size:14px; padding-right:55px; text-align:right;}
/*导航高亮*/
#main .main_left #nav a.on,
#main .main_left #nav a:hover.on { color:#FFFFFF; background:#64aad0;}
/*主要内容区*/
#main .main_right { width:100%; float:right; margin-left:-160px;}
#main .main_right .yui { margin-left:160px;}
#main .main_right .yui { position:relative;}
/*导航图标区*/
#nav .home span { background: url(../image/common/home_1.png) no-repeat 100px 10px;}
#nav .reconstruction span { background: url(../image/common/reconstruction_1.png) no-repeat 100px 10px;}
#nav .new span { background: url(../image/common/new_1.png) no-repeat 100px 10px;}
#nav .article span { background: url(../image/common/article_1.png) no-repeat 100px 10px;}
#nav .category span { background: url(../image/common/category_1.png) no-repeat 100px 10px;}
#nav .tags span { background: url(../image/common/tags_1.png) no-repeat 100px 10px;}
#nav .comments span { background: url(../image/common/comments_1.png) no-repeat 100px 10px;}
#nav .quoted span { background: url(../image/common/quoted_1.png) no-repeat 100px 10px;}
#nav .accessories span { background: url(../image/common/accessories_1.png) no-repeat 100px 10px;}
#nav .themes span { background: url(../image/common/themes_1.png) no-repeat 100px 10px;}
#nav .plugin span { background: url(../image/common/plugin_1.png) no-repeat 100px 10px;}
#nav .link span { background: url(../image/common/link_1.png) no-repeat 100px 10px;}
#nav .file span { background: url(../image/common/file_1.png) no-repeat 100px 10px;}
/*高亮导航图标区*/
#nav .home .on span { background: url(../image/common/home_2.png) no-repeat 100px 10px;}
#nav .reconstruction .on span { background: url(../image/common/reconstruction_2.png) no-repeat 100px 10px;}
#nav .new .on span { background: url(../image/common/new_2.png) no-repeat 100px 10px;}
#nav .article .on span { background: url(../image/common/article_2.png) no-repeat 100px 10px;}
#nav .category .on span { background: url(../image/common/category_2.png) no-repeat 100px 10px;}
#nav .tags .on span { background: url(../image/common/tags_2.png) no-repeat 100px 10px;}
#nav .comments .on span { background: url(../image/common/comments_2.png) no-repeat 100px 10px;}
#nav .quoted .on span { background: url(../image/common/quoted_2.png) no-repeat 100px 10px;}
#nav .accessories .on span { background: url(../image/common/accessories_2.png) no-repeat 100px 10px;}
#nav .themes .on span { background: url(../image/common/themes_2.png) no-repeat 100px 10px;}
#nav .plugin .on span { background: url(../image/common/plugin_2.png) no-repeat 100px 10px;}
#nav .link .on span { background: url(../image/common/link_2.png) no-repeat 100px 10px;}
#nav .file .on span { background: url(../image/common/file_2.png) no-repeat 100px 10px;}
/**/
#main .main_right .content { padding:20px 30px;}
/*后台首页*/
.wrapper { background:#FFFFFF;}
.divHeader { height:34px; line-height:34px; font-size:16px; padding:0 10px; background:#F6F6F6; margin-bottom:20px;}
#divMain2 { padding:0px;}
/**/
#main .conleft { width:100%; float:left; margin-right:-280px;}
#main .conleft .shell { margin-right:280px;}

.conleft_body { background:#FFFFFF; padding:0px;}
.conleft_body h2 { font-size:22px; line-height:30px; margin-bottom:20px;}
.conleft_body p { line-height:22px; font-size:14px;}
.box  h2 { height:30px; line-height:30px; font-size:18px; font-weight:normal; background: url(image/IMG/line.png) repeat-x left bottom;}
/**/
.conright { width:260px; float:right;}
.box_category { height:200px; background:#FFFFFF; padding:10px; margin-bottom:10px;}
/**/
.tableBorder { line-height:26px;}
#tdUpdateInfo { line-height:24px;}
/**/

/**/

/*文章编辑*/
.conleft_body .form {} 
/**/

/**/

/**/

/**/

/**/

/**/

/**/
/**/
.SubMenu{
	padding:0px;
	margin:0px;
	width:100%;
	text-align:left;
	float:left;
	font-size:0;background:#64aad0;
}

.SubMenu span {
	float:left; font-weight:bold;
	padding:2px 10px 2px 0px;
}

.SubMenu span.m-left {
	float:left;
}
.SubMenu span.m-right {
	float:right;
}

.SubMenu span a:hover {
	background:#b0cdee;
	text-decoration : none; color:#3A6EA5;

}
.SubMenu span a:active {
	background:#b0cdee; color:#3A6EA5;
	text-decoration : none;
}

.SubMenu span a{
	font-size:12px; background:#64aad0;
	padding:4px 8px; color:#FFFFFF;
	float:left;
}

.SubMenu span.m-now a{
	background:#FFFFFF;
	border:1px solid #FFFFFF;
	margin-bottom: -2px;
	border-bottom:3px solid #FFFFFF;
}