<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>ColorBoxImage</id><name>ColorBox图片特效</name><url>http://imzhou.com</url><note>插件启用后即可显示特效,无需管理,启用即可.</note><path></path><include>include.asp</include><level>1</level><author><name>未寒</name><email>im@imzhou.com</email><url>http://imzhou.com</url></author><adapted>121125</adapted><version>0.3</version><pubdate>2012-10-11</pubdate><modified>2012-10-11</modified><description><![CDATA[ColorBox图片特效。]]></description><price></price></plugin>
