<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>WLWSupport</id><name>Windows Live Writer支持</name><url>http://www.rainbowsoft.org/</url><note>启用该插件后,可以使用Windows Live Writer 2012的tags编辑等功能,插入水平线提取摘要。</note><path></path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email>zxasd@rainbowsoft.org</email><url>http://www.zdevo.com/</url></author><adapted>130128</adapted><version>1.4</version><pubdate>2008-5-1</pubdate><modified>2013-1-24</modified><description><![CDATA[启用该插件后，可以使用Windows Live Writer的tags编辑等功能。插入水平线提取摘要。

支持最新的2012版程序.修正了一个关于摘要的BUG.]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
