<ul class="ds-comments" style="opacity: 1;">
	<li class="ds-post" data-post-id="<#article/comment/id#>">
	<div class="ds-post-self">
	<div class="ds-avatar"><a rel="nofollow author" target="_blank" href="<#article/comment/urlencoder#>" title="<#article/comment/name#>"><img src="http://0.gravatar.com/avatar/<#article/comment/emailmd5#>?s=50&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D55&amp;r=G" alt="<#article/comment/name#>"></a></div>
	<div class="ds-comment-body">
	<div class="ds-comment-header"><a class="ds-user-name ds-highlight" href="<#article/comment/urlencoder#>" rel="nofollow" target="_blank" ><#article/comment/name#> <a class="ds-post-reply" href="#frmSumbit" onclick="RevertComment('<#article/comment/id#>')"><span class="ds-ui-icon"></span>回复</a></a></div><p><#article/comment/content#></p>
	<div class="ds-comment-footer ds-comment-actions">
		<span class="ds-time" datetime="<#article/posttime/shortdate#>T<#article/posttime/longtime#> +08:00" title="<#article/posttime/longdate#> <#article/posttime/longtime#> "><#article/posttime/longdate#> <#article/posttime/shorttime#></span>
	</div>
	</div>
	</div>
	</li>
</ul>