<div class="postwrapper box wid700  wid1000">
	<div class="block article">
		<div class="postmain">
			<div class="content">
				<div class="text">
					<h2><a href="<#article/url#>"><#article/title#></a></h2>
					<#article/content#>
				</div>
			</div>
			<div class="tag">
				<#template:article_tag#>
			</div>
			<div class="link">
				<script type="text/javascript">AddViewCount(<#article/id#>)</script>
			</div>
		</div>
	</div> 
	<div class="block">
		<div class="postmain comment">
		<div class="bcmt">
			<div class="bcmtlst">
			   <#template:article_comment#>
			</div>
			<#template:article_comment_pagebar#>
			<#template:article_commentpost#>
		</div>
		</div>
	</div>
</div>