<div class="entry clearfix">
	<h1><a class="post-title" href="<#article/url#>" rel="bookmark"><#article/title#></a></h1>	
	<div class="post-meta">
		<span class="meta-author"><a href="<#article/author/url#>" title="由 <#article/author/name#> 发布" rel="author"><#article/author/name#></a></span>
		<span class="meta-category"><a href="<#article/category/url#>" title="查看 <#article/category/name#> 中的全部文章" rel="category tag"><#article/category/name#></a></span>
		<span class="meta-permalink"><a href="<#article/url#>" title="Permalink">固定连接</a></span>
		<span class="meta-date"><#article/posttime/shortdate#></span>
		<span class="meta-view" id="spn<#article/id#>"></span>次围观<script type="text/javascript">LoadViewCount(<#article/id#>)</script>
		<span class="meta-comment"><a href="<#article/url#>#comments" title="《<#article/title#>》上的评论"><#article/commnums#> 条评论</a></span>
	</div><!-- END post-meta --> 

	<div class="clear"></div>
	<div class="entry-content">
		<#article/intro#>
		<span class="readmore"><a href="<#article/url#>">Read More</a></span>
	</div>
	<div class="post-bottom"><div class="post-tags-pig"><#template:article_tag#></div></div><!-- END post-bottom -->
</div><!-- END entry -->

