		<div class="post-<#article/id#> post type-post status-publish format-standard hentry category-wangping" id="post-<#article/id#>">
<div class="left">
<div class="post_date"><span class="date_m"><#article/posttime/month#></span><span class="date_d"><#article/posttime/day#></span><span class="date_y"><#article/posttime/year#></span></div>
<div class="article">
<div class="article_t">
<div class="article_b"><h2><a href="<#article/url#>" rel="bookmark" title="详细阅读 <#article/title#>"><#article/title#></a><span class="new"></span></h2>

<!-- <div class="thumbnail_box"><div class="thumbnail"><a href="<#article/url#>" rel="bookmark" title="<#article/title#>"></a><#article/intro/minitu#></div></div> -->
<p class="entry_post"><#article/intro#></p>
<p class="more_b"><span class="more"><a href="<#article/url#>" title="详细阅读 <#article/title#>" rel="bookmark">阅读全文...</a></span></p><div class="clear"></div>
</div>
<div class="article_f">
<div class="article_info"><span class="author">&nbsp;&nbsp;&nbsp;&nbsp;<#article/author/name#></span><span class="category">&nbsp;&nbsp;&nbsp;&nbsp;<a href="<#article/category/url#>" title="查看 <#article/category/name#> 中的全部文章" rel="category tag"><#article/category/name#></a></span><span class="post_comm">&nbsp;&nbsp;&nbsp;&nbsp;<a href="<#article/url#>#comments" title="《<#article/title#>》上的评论"><#article/commnums#>条评论</a></a></span><span class="post_view">&nbsp;&nbsp;&nbsp;&nbsp;<#article/viewnums#> 次阅读</a></span><span class="tags">&nbsp;&nbsp;&nbsp;&nbsp;<#template:article_tag#></span></div>
</div></div>
</div>       
       </div>

		</div>
		