<div class="footer">
		<div class="resize">
			<div class="text_left">
				<li><a title="返回首页" href="<#ZC_BLOG_HOST#>">Home</a></li>
				<#CACHE_INCLUDE_CATALOG#>
			</div>
			
			<div>
				Copyright &copy; 2012 <a href="http://www.rainbowsoft.org/" title="RainbowSoft Studio Z-Blog" target="_blank">Z-Blog</a> All rights reserved. Powered by Z-Blog./<a href="http://imzhou.com" rel="external">未寒</a>
				<br>
				<#ZC_BLOG_COPYRIGHT#> 
			</div>
		</div>


		<div class="clear"></div>
	</div>
</div>
</body>
</html>