<div class="footer">
		<div class="resize">
			<div class="text_left">
				<li><a title="返回首页" href="<#ZC_BLOG_HOST#>">Home</a></li>
				<#CACHE_INCLUDE_CATALOG#>
			</div>
			
			<div>
				Copyright &copy; 2012 <a href="<#ZC_BLOG_HOST#>"  target="_blank"><#ZC_BLOG_TITLE#></a> All rights reserved. Powered by Z-Blog./<a href="http://imzhou.com" rel="external">Theme</a>
				<br>
				<#ZC_BLOG_COPYRIGHT#> 
			</div>
		</div>


		<div class="clear"></div>
	</div>
</div>
</body>
</html>