<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>BetterPagebar</id><name>分页条优化插件</name><url></url><note>优化分页条显示格式</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>月上之木</name><email></email><url></url></author><adapted>121221</adapted><version>2.2</version><pubdate>2012-8-25</pubdate><modified>2012-12-23</modified><description><![CDATA[优化博客列表页分页条显示格式。]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
