<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>AdminColor</id><name>后台配色器</name><url>http://www.rainbowsoft.org/</url><note>给Z-Blog 2.1换后台配色的小工具.</note><path></path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email>rainbowsoft@163.com</email><url>http://www.zdevo.com/</url></author><adapted>121221</adapted><version>1.0</version><pubdate>2013/1/19</pubdate><modified>2013-1-20</modified><description><![CDATA[给Z-Blog 2.1换后台配色的小工具.zx蛋疼之作.
IE下请不要开启"兼容模式"不然会找不到设置彩块的!]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
