<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>STACentre</id><name>静态管理中心</name><url>http://www.rainbowsoft.org/</url><note>控制ZBLOG的静态化设置,将博客, 分类页, 标签页, 作者页静态化成 HTML 页面.</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email></email><url>http://www.rainbowsoft.org/</url></author><adapted>121221</adapted><version>1.0</version><pubdate>2011-5-1</pubdate><modified>2012-12-21</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
