<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>STACentre</id><name>静态管理中心</name><url>https://www.zblogcn.com/</url><note>控制ZBLOG的静态化设置,将博客, 分类页, 标签页, 作者页静态化成 HTML 页面.</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email></email><url>https://www.zblogcn.com/</url></author><adapted>140808</adapted><version>1.4</version><pubdate>2011-5-1</pubdate><modified>2018-5-17</modified><description><![CDATA[ZSX和月上之木对插件有修改.]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
