<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
<id>STACentre</id>
<name>静态化中心</name>
<url>http://www.esloy.com/</url>
<note>将博客, 分类页, 标签页, 作者页静态化成 HTML 页面.</note>
<type>outline</type>
<path>main.asp</path>
<include>include.asp</include>
<level>1</level>
<author>
	<name>haphic</name>
	<url>http://www.esloy.com/</url>
	<email>haphic@gmail.com</email>
</author>
<version>1.0</version>
<adapted>Z-Blog 1.8 Arwen</adapted>
<pubdate>2011-5-1</pubdate>
<modified>2011-8-13</modified>
</plugin>