<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>Wap</id><name>Wap插件</name><url>http://www.rainbowsoft.org/</url><note>Z-Blog的Wap插件</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>月上之木</name><email>jie2520@gmail.com</email><url></url></author><adapted>130128</adapted><version>1.0</version><pubdate>2013/2/1</pubdate><modified>2013/2/1</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
