<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0"><id>PageMeta</id><name>自定义Meta头</name><url>http://www.zsxsoft.com/</url><note>自定义页面的Meta头，可以自由增加不同文章、分类、用户、Tags的Meta头</note><author><name>ZSXSOFT</name><url>http://www.zsxsoft.com/</url><email>zsx@zsxsoft.com</email></author><type>inline</type><path>main.asp</path><include>include.asp</include><level>1</level><adapted>Z-Blog 2.0</adapted><version>1.0</version><pubdate>2012-7-13</pubdate><modified>2011-7-13</modified></plugin>
