<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin version="2.0">
	<id>FileManage</id>
	<name>文件管理</name>
	<url>http://www.zsxsoft.com/</url>
	<note>强化Z-Blog的文件管理功能</note>
	<type>inline</type>
	<path>main.asp</path>
	<include>include.asp</include>
	<level>1</level>
	<author>
		<name>zsx</name>
		<url>http://www.zsxsoft.com/</url>
		<email>zsx@zsxsoft.com</email>
	</author>
	<version>1.0</version>
	<adapted>121125</adapted>
	<pubdate>2012-7-1</pubdate>
	<modified>2012-8-8</modified>
</plugin>
