<dl class="function" id="divCalendar">
<dt class="function_t"><#ZC_MSG050#></dt>
<dd class="function_c"><div><#CACHE_INCLUDE_CALENDAR#></div></dd>
</dl>

<dl class="function" id="divContorPanel">
<dt class="function_t"><#ZC_MSG025#></dt>
<dd class="function_c">
<div><a href="<#ZC_BLOG_HOST#>zb_system/cmd.asp?act=login">[<#ZC_MSG009#>]</a>&nbsp;&nbsp;<a href="<#ZC_BLOG_HOST#>zb_system/cmd.asp?act=vrs">[<#ZC_MSG021#>]</a></div>
</dd>
</dl>

<dl class="function" id="divCatalog">
<dt class="function_t"><#ZC_MSG026#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_CATALOG#>
</ul></dd>
</dl>

<dl class="function" id="divComments">
<dt class="function_t"><#ZC_MSG027#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_COMMENTS#>
</ul></dd>
</dl>

<dl class="function" id="divArchives">
<dt class="function_t"><#ZC_MSG028#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_ARCHIVES#>
</ul></dd>
</dl>

<dl class="function" id="divSearchPanel">
<dt class="function_t"><#ZC_MSG085#></dt>
<dd class="function_c">
<div>
<form method="post" action="<#ZC_BLOG_HOST#>ZB_SYSTEM/cmd.asp?act=Search">
<input type="text" name="edtSearch" id="edtSearch" size="12" />
<input type="submit" value="<#ZC_MSG087#>" name="btnPost" id="btnPost" />
</form>
</div></dd>
</dl>

<dl class="function" id="divStatistics">
<dt class="function_t"><#ZC_MSG029#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_STATISTICS#>
</ul></dd>
</dl>


<dl class="function" id="divFavorites">
<dt class="function_t"><#ZC_MSG030#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_FAVORITE#>
</ul></dd>
</dl>


<dl class="function" id="divLinkage">
<dt class="function_t"><#ZC_MSG031#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_LINK#>
</ul></dd>
</dl>

<dl class="function" id="divMisc">
<dt class="function_t"><#ZC_MSG039#></dt>
<dd class="function_c"><ul>
<#CACHE_INCLUDE_MISC#>
</ul></dd>
</dl>