<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="2.0"><id>BetterPagebar</id><name>分页条优化插件</name><url>http://bbs.rainbowsoft.org/thread-25207-1-1.html</url><note>该插件读取系统模板，不用重建，即刻生效。</note><author><name>月上之木</name><url>http://localhost/</url><email></email></author><type>inline</type><path>main.asp</path><include>include.asp</include><level>4</level><adapted>Z-Blog 2.0 </adapted><version>2.0</version><pubdate>2008-7-13</pubdate><modified>2012-8-19</modified></Plugin>
