<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>BetterPagebar</id><name>分页条优化插件</name><url></url><note>优化分页条显示样式。</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>月上之木</name><email></email><url></url></author><adapted>Z-Blog 2.0</adapted><version>2.0</version><pubdate>2012-8-25</pubdate><modified>2012-10-1</modified><description></description><price></price></plugin>
