<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0"><id>QF_Export_Mutuality</id><name>相关文章图文列表</name><url>http://www.maipibao.net</url><note>&lt;P&gt;能够让内页相关文章图文列表显示&lt;/p&gt;&lt;p&gt;b_article_mutuality.html模板增加文章第一张图片标签&lt;#article/mutuality/img#&gt;&lt;/p&gt;</note><author><name>清风</name><url>http://www.maipibao.net/</url><email>253977376@qq.com</email></author><type>inline</type><path>main.asp</path><include>include.asp</include><level>1</level><adapted>Z-Blog 1.8 Walle</adapted><version>1.0.0</version><pubdate>2010-04-16</pubdate><modified>2010-04-17</modified></Plugin>
