<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="2.0">
	<id>QQConnect</id>
	<name>QQ互联</name>
	<url>http://www.zsxsoft.com</url>
	<note>QQ互联</note>
	<path>main.asp</path>
	<include>include.asp</include>
	<level>1</level>
	<author>
		<name>zsx</name>
		<email>zsx@zsxsoft.com</email>
		<url>http://www.zsxsoft.com</url>
	</author>
	<adapted>121125</adapted>
	<version>1.0</version>
	<pubdate>2012-11-16</pubdate>
	<modified>2012-11-16</modified>
	<description>
		<![CDATA[Z-Blog与QQ连接插件]]>
	</description>
	<price>0</price>
</plugin>
