		<app type="<#article/category/staticname#>">
			<name><#article/meta/app_name#></name>
			<type><#article/meta/app_type#></type>
			<version><#article/meta/app_version#></version>
			<zbver><#article/meta/app_zbver#></zbver>
			<url><#article/meta/app_url#></url>
			<pay><#article/meta/app_pay#></pay>
			<tag><#article/tagtoname#></tag>
			<author>
				<name><#article/meta/app_author_name#></name>
				<url><#article/meta/app_author_url#></url>
				<email><#article/meta/app_author_email#></email>
			</author>
			<content><#article/content#></contnt>
		</app>