<div class="function" id="divCalendar">
<h3><#ZC_MSG050#></h3>
<div><#CACHE_INCLUDE_CALENDAR#></div>
</div>

<div class="function" id="divContorPanel">
<h3><#ZC_MSG025#></h3>
<ul>
<li><a href="zb_system/cmd.asp?act=login">[<#ZC_MSG009#>]</a>&nbsp;&nbsp;<a href="zb_system/cmd.asp?act=vrs">[<#ZC_MSG021#>]</a></li>
</ul>
</div>

<div class="function" id="divCatalog">
<h3><#ZC_MSG026#></h3>
<ul>
<#CACHE_INCLUDE_CATALOG#>
</ul>
</div>

<div class="function" id="divComments">
<h3><#ZC_MSG027#></h3>
<ul>
<#CACHE_INCLUDE_COMMENTS#>
</ul>
</div>

<div class="function" id="divArchives">
<h3><#ZC_MSG028#></h3>
<ul>
<#CACHE_INCLUDE_ARCHIVES#>
</ul>
</div>

<div class="function" id="divSearchPanel">
<h3><#ZC_MSG085#></h3>
<ul>
<li>
<form method="post" action="<#ZC_BLOG_HOST#>ZB_SYSTEM/cmd.asp?act=Search">
<input type="text" name="edtSearch" id="edtSearch" size="12" />
<input type="submit" value="<#ZC_MSG087#>" name="btnPost" id="btnPost" />
</form>
</li>
</ul>
</div>

<div class="function" id="divStatistics">
<h3><#ZC_MSG029#></h3>
<ul>
<#CACHE_INCLUDE_STATISTICS#>
</ul>
</div>


<div class="function" id="divFavorites">
<h3><#ZC_MSG030#></h3>
<ul>
<#CACHE_INCLUDE_FAVORITE#>
</ul>
</div>


<div class="function" id="divLinkage">
<h3><#ZC_MSG031#></h3>
<ul>
<#CACHE_INCLUDE_LINK#>
</ul>
</div>

<div class="function" id="divMisc">
<h3><#ZC_MSG039#></h3>
<ul>
<#CACHE_INCLUDE_MISC#>
</ul>
</div>