<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>YTCMS</id><name>Content Manage System</name><url>http://app.rainbowsoft.org/?id=51</url><note>QQ群：41330169，加群请注明：ZBLOG，有问题请反馈，多谢大家的支持</note><path>YT.Panel.asp</path><include>YT.Main.asp</include><level>1</level><author><name>瑜廷</name><email>33195@qq.com</email><url>https://me.alipay.com/puguwa</url></author><adapted>121221</adapted><version>2.0 130912</version><pubdate>2011-03-26</pubdate><modified>2013-9-11</modified><description><![CDATA[QQ群：41330169，加群请注明：ZBLOG，有问题请反馈，多谢大家的支持]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions>FilterSQL|BlogReBuild_Default</rewritefunctions><conflict></conflict></advanced></plugin>
